<p>
  <%- if @user.first_name %>
    Dear <%= @user.first_name %>,
  <% else %>
    Dear Teacher Leaders,
  <% end %> 
</p>
<p>
Thank you for taking the time to test out this new feature and tool in My Wildflower! 
</p>
<%# <p>
As dedicated leaders in the Wildflower community, your commitment to fostering a nurturing and effective learning 
environment is truly inspiring. To support your ongoing efforts, we are excited to introduce a new feature on the 
My Wildflower platform: the Interactive Monthly Administrative Checklist.
</p> %>
<p>
<b>What is the Interactive Monthly Administrative Checklist?</b>
</p>
<p>
The Interactive Monthly Administrative Checklist is a dynamic tool designed to help you efficiently manage your administrative tasks. 
This feature provides a comprehensive, easy-to-use checklist that updates monthly, ensuring you stay on top of your responsibilities 
throughout the academic year. 
</p>
<p>
<b>Key Benefits</b>
<ol>
  <li><b>Streamlined Task Management:</b> Easily track your to-do list with a clear, organized layout that prioritizes your administrative duties.</li>
  <li><b>Monthly Updates:</b> Receive timely updates and reminders tailored to the specific needs of each month, keeping you ahead of schedule.</li>
  <li><b>Collaboration:</b> Mark tasks as completed and assign team members to different tasks to promote collaboration and ensure everyone is aligned on key administrative tasks.</li>
</ol>
<b>How to Access</b>
<p>
When you <a href="https://my.wildflowerschools.org/login" target="_blank">sign in</a>, you will see the option to go to “checklists” on the left hand side. From there you will see a list of tasks and milestones that 
match the monthly admin checklists. We would love for you to: 
</p>
<ol>
  <li>Look through each month and see how the layout and flow look to you</li>
  <li>Try clicking on different tasks, milestones and steps for a few different months</li>
  <li>Try assigning yourself or your partner to different tasks</li>
  <li>Try marking tasks complete</li>
  <li>Some tasks have linked resources, try clicking on the resources to access them</li>
</ol>

<b>Feedback Form</b>
</br>
<p>
We are asking for feedback through <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEJuah2A0HGYIrbKyC5yjx6ffZtIyDina5nJwy4LfXtRckLw/viewform" target="_blank">this survey</a> by 
Monday, August 19th. You are also welcome to email me directly if that is easier. We will be asking for general feedback on your experience 
with the checklist tool as well as any “bugs” that you detect (things that seem broken or don’t do what you would expect them to do). 
</p>
<p>
If you detect any of these “bugs” we will ask you to add them to the survey and share share what you were trying to do, the page or url that 
you were trying to do this and what happened when you tried to do it. (For example: I tried to assign myself to a monthly task in January but 
it didn't show up in my To-Do list) 
</p>
<p>
Thank you so much for your help and if you have any questions please reach out to katelyn.shore@wildflowerschools.org and I am happy to help. 
</p>
<%# <br/>
[Video tutorial on how to navigate and use the Admin checklist]
<p>
We will be hosting a few open office hours and make and takes over the next few weeks focusing on learning how to use the new Admin checklists. Please join if you can! 
</p>
[Dates for Make and takes and office hours here] 

<p>
Please reach out with any questions and we look forward to hearing from you soon! 
</p> %>

</br>
Thank you!
</br>
</br>
Katelyn and Cam
