Dear <%= @user.name %>,

<%= @inviter.name %> has invited you to join them on the Wildflower School Startup Journey.

As a next step, we invite you to join <b><%= ENV['APP_NAME'] %></b>, where you will have shared access to the complete School Startup Journey guide and resources.
Please <%= link_to "click here", @invite_url %> to log in and begin your journey. We have also prepared this onboarding <a href="https://connected.wildflowerschools.org/posts/5212415-getting-started-with-the-my-wildflower-school-startup-journey-platform" target="_blank" >guide</a> and <a href="https://www.loom.com/share/7b1e052288e14edcb04e939c8bf3b06f?sid=8dc7c488-b47d-437e-9731-6d299f0314e7" target="_blank" >video</a> to orient you to this new tool.

Welcome to the School Startup Journey!

Maggie (she.her)
School Supports

