<p>
  <%- if @user.first_name %>
    Dear <%= @user.first_name %>,
  <% else %>
    Hello!
  <% end %> 
</p>
<p>
We are thrilled to welcome you to join the <b>Wildflower Platform</b>!
</p>
<p>
Through the Wildflower Platform, you will have immediate access to a people directory.  This is an interactive tool for you to see who is in the network, what schools are in the network and a way for you to connect with them and for others to connect with you.
</p>
<p>
We have big plans and hopes for the development of this tool - including simplifying access to highly requested resources (e.g., where is that operations template again? Where’s the digest from last week?), a simplified advice tool, reminders for upcoming due dates and more!  Stick with us as this resource gets further developed.
</p>
<p>
For the moment, please <%= link_to "click here", @invite_url %> to log in and check it out!
</p>
<p>
Welcome to the next stage in Wildflower connection!
<br/>
Cam & Katelyn
</p>






