<p>
  Dear Teacher Leaders,
</p>
<p>We hope this finds you well, warm and having a nice start to the new year! </p>
<p>We are planning the next phase for the <%= ENV['APP_NAME'] %> - your one stop shop for everything you need to do for your school, tailored for Wildflower teacher leaders who are guiding and managing administrative tasks for your school.</p>
<p>To that end, we have two 5 min requests of you:</p>
<ol>
  <li>Please log in (<%= link_to "link", @invite_url %>) and vote for what feature you’d like to see us build next!</li>
  <li>If you haven’t yet, please update your information in the Wildflower Directory - click <b>network</b> on the left hand side to log into both your personal and school profiles.</li>
</ol>
<p>We are looking forward to building great things with and for you in 2024!</p>
<p>Warmly,<br>Cam & Katelyn</p>
