<p>
  <%- if @user.first_name %>
    Dear <%= @user.first_name %>,
  <% else %>
    Hello!
  <% end %> 
</p>
<p>
We are thrilled that you are interested in beginning the School Startup Journey with Wildflower!
</p>
<p>
As a next step, we invite you to join <b><%= ENV['APP_NAME'] %></b>, where you will have access to the complete School Startup Journey guide and resources.
<br/>
Please <%= link_to "click here", @invite_url %> to log in and begin your journey.
</p>
<p>
In parallel, your Operations Guide will be in touch to schedule an orientation call.
</p>
<p>
Welcome to the School Startup Journey!
<br/>
Maggie
</p>