<p>
  Dear <%= @user.first_name %>,
</p>
<p>
Exciting news! You have been added to <%= @partner_names %>’s School Startup Journey Dashboard. As a next step, <%= link_to "click here", @dashboard_url %> to log in and view your team’s progress. 
</p>
<p>
If you have any questions about this new tool, please let me know! I’m here to support.
</p>
<p>
Warmly,
<br/>
<br/>
Maggie (she.her)
<br/>
School Supports
</p>
