<p>
  Dear <%= @user.name %>,
</p>
<p>
We are thrilled to hear that you are interested in beginning the School Startup Journey with Wildflower!
</p>
<p>
As a next step, we invite you to join the <b>Wildflower Platform</b>, where you will have access to the complete School Startup Journey guide and resources.
<br/>
Please <%= link_to "click here", @invite_url %> to log in and begin your journey.
</p>
<p>
In parallel, your Operations Guide will be in touch to schedule an orientation call.
</p>
<p>
Welcome to the School Startup Journey!
<br/>
Maggie
</p>
