<p>
Dear <%= @user.name %>,
</p>
<p>
This is your personalized, secure <%= link_to "login link", @login_url %> that expires in 24 hours. Please do not share with anyone else.
</p>

<p>
Wildflower Support
</p>
